
.navbar-default {
    background-color: #00b3a4;
    border-color: #000000;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    font-family: Arvo;
}

.nav-link {
    color: #484d53;
    font-weight: bold;
}

.jumbotron {
    background-color: #484d53;
}

/* fill viewport, hide scroll bar */
.hidden_scroll {
    height: 100%;
    overflow: hidden;
    background-color:#343a40;
}

html {
    overflow: hidden;
}

body {
    height: 100%;
    background-color:#343a40;
}

/* fill viewport & ensure content is below navbar */
.container-fluid {
    top: 72px;
    bottom: 0px;
    position: absolute;
    overflow-y: scroll;
}

.container-summary {
    padding-top: 72px;
    height: 100%;
}

.welcome {
    text-align: center;
}

form {
    padding: 15px;
    background-color:#484d53;
    color: #fff;
    text-align: center;
}

/* Slider apearance */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00b3a4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00b3a4;
    cursor: pointer;
}

.stats {
    color: #fff;
    text-align: right;
    padding-top: 1rem;
    padding-right: 1rem;
}

input[type=text] {
    height: 22px;
    width: 25px;
}

h1 {
    color: #fff;
}

h5 {
    color: #fff;
}

p {
    color:#fff;
}

hr {
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
    color: #888;
}

pre {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    white-space: pre-wrap;
    color: #fff;
}

li a {
    color: #fff;
}

small {
    color: #fff;
}

/* aligns summary column width-6 to the left */
#left {
    text-align: justify;
    height: 80%;
    position: absolute;
    padding: 0;
    left: 0;
}

/* aligns article column width-6 to the right */
#right {
    text-align: justify;
    height: 80%;
    position: absolute;
    padding: 0;
    right: 0;
}

/* Change scrollbar appearance */
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00b3a4;
    border-radius: 5px;
}

/* Styling for about.html */
.article {
    color: #fff;
    top: 80px;
}

.article p {
    text-align: justify;
}