{% extends "layout.html" %}

{% block body %}
<!-- Consider collapsable text section:
https://www.w3schools.com/howto/howto_js_collapsible.asp
-->
    <br>
    <article class="article">
        <div class="row justify-content-center">
            <div class="col-5">
                <h3>How-to</h3>
                <p>
Upload an article through a text file or by pasting the content in the text box. The first option of either form limits
the number of sentences within the summary. The second option specifies a percentage by which to reduce the article.
When reducing the article size through the second option, the amount removed is approximate. In other words, the
application will make attempts at reducing the article size by the specified value.
                </p>
                <h3>Limitations</h3>
                <p>
                    <ul>
                        <li>The application was built from libraries and tools pre installed in the CS50 IDE, therefore it is limited to using only these assets.</li>
                        <li>UTF-8 is a very common standard for online web pages, yet interestingly enough I've found a few article with characters and symbols outside of this standard.</li>
                        <li>The application can only construct summaries by reusing sentences from the article.</li>
                        <li>The application is inconsistent in determining a sentence or paragraph.</li>
                        <li>Can’t paste url to scrap article</li>
                        <li>The application is unable to determine the underlying subject of an article, and thus unable construct a more dynamic summary.</li>
                        <li>Shrinking the browser window distorts the webpage.</li>
                        <li>Using a screen aspect ratio other than 16:10 can potentially cut off content.</li>
                    </ul>
                </p>
                <h3>Improvements</h3>
                <p>
                    <ul>
                        <li>Include search by url and html scraping.</li>
                        <li>Improve compatibility with different monitor setups and web browsers.</li>
                        <li>When the specified summary size permits, parse the summary into paragraphs.</li>
                        <li>An improved set of rules could improve summary construction to be more succinct and comprehensive.</li>
                        <li>Robust statistical approaches could improve the selection of sentences, and even subjects.</li>
                        <li>Machine learning could potentially improve the accuracy of summaries. Though, this may introduce bias if done incorrectly.</li>
                    </ul>
                </p>
                <h3>Thoughts for the future</h3>
                <p>
This application would ideally become part of a larger tool that would aggregate articles of similar subjects and display comparisons between them,
while also providing summaries of the common points that are shared amongst articles.
The tool would not be a replacement for reading the articles themselves since the summaries would be lacking in detail and context.
It's easy for readers to become overwhelmed by the abundance of information, perhaps a tool like this could be useful.
                </p>
            </div>
        </div>
    </article>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <hr>
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3  ">Dr. Lee's Class 2020 ©</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a href="#">Cool stuff</a></li>
          <li><a href="#">Random feature</a></li>
          <li><a href="#">Team feature</a></li>
          <li><a href="#">Stuff for developers</a></li>
          <li><a href="#">Another one</a></li>
          <li><a href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a href="#">Resource</a></li>
          <li><a href="#">Resource name</a></li>
          <li><a href="#">Another resource</a></li>
          <li><a href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a href="#">Team</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
    </div>
</footer>

{% endblock %}
