<!DOCTYPE html>
<!-- The above states that the webpage is written in html 5 -->
<!-- Content within curly braces are Jinja parameters -->
<!-- The following code implements Bootstrap's starter template -->
<html lang="en" class="hidden_scroll">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>Summarizer</title>

    </head>
    <body onload="fileOnload()">

        <nav class="navbar fixed-top navbar-default bg-default">
            <a class="navbar-brand" href="/">Summarizer</a>
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            </ul>
        </nav>

        <div class="container-summary">
            {% block body %}{% endblock %}
        </div>

        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

        <!-- App's own JavaScript -->
        <script src="/static/scripts.js"></script>

    </body>
</html>
